/* Custom Styles for Got Drought */

.water-footprint {
  line-height: 100%;
  margin: 1em 0;
  color: white;
}

.water-footprint p {
  font-size: 1.2em;
}

.water-footprint .heading {
  font-size: 3em;
  line-height: 100%;
}

.water-footprint .result {
  margin: 3em 0;
  text-transform: uppercase;
  font-weight: bold;
}

.water-footprint .result p {
  margin: .5em 0;
}

.water-footprint .water-amount {
  font-size: 2em;
  line-height: 100%;
}

.water-footprint .select {
  background: rgb(63,176,214);
  border-radius: 5px;
  border: none;
}
