/* Custom Styles for Got Drought */

.water-footprint {
  line-height: 100%;
  margin: 1em 0;
}

.water-footprint p {
  font-size: 1.2em;
}

.water-footprint .heading {
  font-size: 3em;
  line-height: 100%;
}

.water-footprint select {
  border-radius: 5px;
  border: none;
}

.water-footprint .result {
  margin: 3em 0;
  text-transform: uppercase;
  font-weight: bold;
}

.water-footprint .result p {
  margin: .5em 0;
}

.water-footprint .water-amount {
  font-size: 2em;
  line-height: 100%;
}

.water-footprint .secondary {
  margin-top: 4em;
}

.water-footprint .secondary p {
  font-size: 80%;
}

.water-footprint .secondary .water-amount {
  font-size: 1.6em;
}
