body {
  font-family: Arial, Serif;
}

p {
  font-size: 1.1em;
}

select {
  font-size: 1.1em;
  height: 2em;
  width: 20%;
  min-width: 12.5em;
}

@media screen and (max-width:29em) {
  select {
    width: 100%;
    min-width: 100%;
  }
}

/* Heading and Instructions */
header {
  margin: 3.125em 0 1.625em;
}

.instructions {
  font-size: 1.25em;
}

.credits {
  font-size: .9em;
}

.result p {
  margin: 0;
}

/* Water Footprint Readout */
.heading {
  font-size: 2.25em;
}

.water-amount {
  font-size: 2em;
}

.bulk-readout, .serving-readout, .no-info {
  margin: .625em 0;
}
