.water-footprint p {
  font-size: 1.1em;
}

.water-footprint select {
  font-size: 1.1em;
  height: 2em;
  width: 20%;
  min-width: 12.5em;
}

@media screen and (max-width:29em) {
  .water-footprint select {
    width: 100%;
    min-width: 100%;
  }
}

/* Heading and Instructions */
.water-footprint header {
  margin: 3.125em 0 1.625em;
}

.water-footprint .instructions {
  font-size: 1.25em;
}

.water-footprint .credits {
  font-size: .9em;
}

.water-footprint .result p {
  margin: 0;
}

/* Water Footprint Readout */
.water-footprint .heading {
  font-size: 2.25em;
}

.water-footprint .water-amount {
  font-size: 2em;
}

.water-footprint .bulk-readout,
.water-footprint .serving-readout,
.water-footprint .no-info {
  margin: .625em 0;
}
